$z-stack: base,
  content,
  content-overlay,
  dropdown,
  calendar;

body, html {
  margin: 0;
  padding: 0;
}

.navigation_header_wrapper {
  box-sizing: border-box;
  background: #fafafa;
  font-family: 'Andale Mono', Arial, sans-serif;
  color: #555;
  width: 100%;
  font-size: 0;
  padding: 30px 20px;
}

.navigation_header_wrapper_right {
  text-align: left;
}

.navigation_header_wrapper_left,
.navigation_header_wrapper_right {
  font-size: 14px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.navigation_header_wrapper_title {
  padding: 10px 0;
  font-size: 20px;
}

.navigation_header_wrapper_subtitle {
  font-size: 14px;
}

.navigation_header_month {
  position: relative;
  padding: 10px 0;
}

.navigation_header_icons {
  display: inline-block;
}

.mvp_calendar {
  user-select: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  background: #fefefe;
  width: auto;
  position: absolute;
  margin-top: 15px;
  left: 300px;
  z-index: index($z-stack, calendar);
  transition: max-height .2s linear .2s, opacity .2s ease;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 7px 7.5px;
    border-color: transparent transparent #444 transparent;
  }
}

.calendar_toggle {
  display: none;

  &:checked + .mvp_calendar {
    overflow: visible;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0s linear, opacity .2s ease .2s;
  }
}

.calendar_content {
  font-size: 0;
  text-align: left;
  width: 250px;

  div {
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 5px;
    width: calc(100% / 7);
    font-size: 12px;
  }

  .is_today {
    background: #f1f1f1;
    color: #303030;
  }

  .is_highlighted_first,
  .is_highlighted_last {
    border: 1px solid green;
  }

  .is_highlighted_first ~ div {
    border: 1px solid green;
  }

  .is_highlighted_last ~ div {
    border: 1px solid transparent;
  }
}
