.mvp_calendar_month_select {
  display: block;
  text-align: center;
  background: #444;
  color: #fff;
  text-align: left;
  padding: 15px 10px;
}

.mvp_calendar_month {
  display: inline-block;
  text-align: center;
  width: 120px;
}
