.navigation_header_view {
  position: relative;
  color: #1F75CC;
  text-align: left;
}

.navigation_header_view_type {
  cursor: pointer;
}

.navigation_header_view_type_list {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .2s linear .2s, opacity .2s ease;
  position: absolute;
  left: 0;
  list-style-type: none;
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #303030;
}

.dropdown_toggle {
  display: none;
}

.dropdown_toggle:checked + .navigation_header_view_type_list {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0s linear, opacity .2s ease .2s;
}

.navigation_header_view_type_list li {
  cursor: pointer;

  &.is_selected {
    color: #303030;
    list-style-type: disc;
    font-weight: bold;
  }
}
