.calendar-button {
  border: 0;
  cursor: pointer;
  background: $button-bg;
  color: $button-color;
  font-size: 12px;
  padding: 5px 13px;
  outline: none;
  transition: background .2s ease;

  &:hover, &:active {
    background: lighten($button-bg, 18%);
    transition: background .2s ease;
  }
}
