.calendar-header {
  background: $calendar-header-bg;
  font-size: 14px;
  color: $calendar-header-color;
  text-align: left;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-monthSelect {
  display: inline-block;
  margin-left: -10px;
}

.calendar-month {
  text-align: center;
  display: inline-block;
  width: 120px;
}

.calendar-header-rightArrow {
  @extend %calendarArrow;
  color: #fff;
}

.calendar-header-leftArrow {
  @extend %calendarArrow;
  color: #fff;
}
