$z-stack: base,
  content,
  content-overlay,
  dropdown,
  calendar;

$button-bg: #9C5330;
$today-border-color: #9C5330;
$button-color: #fff;
$calendar-header-bg: #362821;
$calendar-header-color: #fff;
$calendar-content-bg: #fafafa;
$calendar-dayNames-bg: #fff;
