.highlighter-navigation {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  user-select: none;
}

.highlighter-navigation-rightArrow {
  @extend %calendarArrow;
}

.highlighter-navigation-leftArrow {
  @extend %calendarArrow;
}
