.highlighter-state {
  position: relative;
  color: $highlighter-state-color;
  text-align: left;
}

.highlighter-state-type {
  cursor: pointer;
}

.highlighter-state-type-list {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .2s linear .2s, opacity .2s ease;
  position: absolute;
  left: 0;
  list-style-type: none;
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 10px 20px;
  background: $highlighter-state-list-bg;
  border: 2px solid $highlighter-state-list-border;
}
