$highlighter-state-selected-color: #444;
$highlighter-state-color: #718770;
$highlighter-state-list-bg: #fff;
$highlighter-state-list-border: #9C5330;
$is-highighted-bg: #FADF73;
$is-highighted-color: #444;
$isnot-highlighted-bg: #fafafa;
$isnot-highlighted-color: #444;
$today-border-color: #9C5330;
