body, html {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  width: 500px;
  font-family: 'Andale Mono', Arial, sans-serif;
  color: #444;
  font-size: 14px;

  * {
    box-sizing: border-box;
  }
}
